---
import BlockRenderer from "~/components/document/pat-app-doc/ApplicationFormBlockRenderer.astro";
import type { ApplicationFormBlock } from "~/interfaces/document-block";

const { applicationForm } = Astro.props as {
    applicationForm: ApplicationFormBlock;
};
---

<div class="applicationForm">
    {applicationForm.blocks.map((block) => <BlockRenderer block={block} />)}
</div>
