---
import { type Block, descriptionTypeGuards } from "~/interfaces/document-block";
import { concatBlocks } from "~/lib/blocks";
import Inline from "./Inline.astro";

// 特許出願書類の明細書の段落を表示するためのコンポーネント

const { block } = Astro.props as {
    block: Block;
};
---

{
    // 段落
    descriptionTypeGuards.isParagraph(block) && (
        <div>
            <div class={`jpTag indentLevel-${block.indentLevel}`}>
                {block.jpTag}
            </div>
            {
                /** 空テキストのparagraphがある場合 blocks === undefined なのでこれをスキップする */
                block.blocks &&
                    concatBlocks(block.blocks).map((group) => (
                        <div>
                            {group.map((b) => (
                                <Inline block={b} />
                            ))}
                        </div>
                    ))
            }
        </div>
    )
}

<style>
    .indentLevel-1 {
        text-indent: 1em;
    }
</style>
