---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { IPDocument } from "~/interfaces/document";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocPaths";
import { getIPDocument } from "~/lib/getIPDocument";

// IPDocument[] にはしない。複数の出願番号があっても、ipDocumentを一つ得られればよい。
const appNumbers: Record<string, IPDocument> = {};
const docIdList = await getDocIds();
for (const p of docIdList) {
    const ipDocument = await getIPDocument(p.params.docId);
    if (ipDocument.applicationNumber == null) {
        continue;
    }
    if (!ipDocument.applicationNumber.slug) {
        continue;
    }
    appNumbers[ipDocument.applicationNumber.slug] = ipDocument;
}
const sortedIPDocuments = Object.values(appNumbers).sort((a, b) => {
    return a.applicationNumber.slug.localeCompare(b.applicationNumber.slug);
});
---

<Layout title="出願番号の一覧">
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                    {
                        title: "出願番号の一覧",
                        href: "/docs/applicationNumbers",
                    },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                {
                    sortedIPDocuments.map((appNumber) => (
                        <li>
                            <a
                                href={`/docs/applicationNumbers/${appNumber.applicationNumber.slug}`}
                                class="text-blue-600 hover:underline"
                            >
                                {`${appNumber.applicationNumber.toString()} (${appNumber.fileReferenceId})`}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
