---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
import { getContentInfo, getDocIdPaths } from "~/lib/getDocPaths.js";

const appNumbers: Record<
    string,
    { law: "patent" | "utilityModel"; number: string; fileReferenceID: string }
> = {};
const docIdList = await getDocIdPaths();
for (const p of docIdList) {
    const contentInfo = await getContentInfo(p.params.docId);
    const key = contentInfo.bibData.fileReferenceID;
    appNumbers[key] = {
        fileReferenceID: contentInfo.bibData.fileReferenceID,
        law: contentInfo.bibData.law,
        number: contentInfo.bibData.applicationNumber,
    };
}

const sortedAppNumbers = Object.values(appNumbers).sort((a, b) => {
    return a.fileReferenceID.localeCompare(b.fileReferenceID);
});
---

<Layout title="整理番号の一覧">
    <main>
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "整理番号の一覧", href: "/docs/fileReferenceID" },
            ]}
        />
        <section>
            <ul class="list-disc list-inside">
                {
                    sortedAppNumbers.map((appNumber) => (
                        <li>
                            <a
                                href={`/docs/fileReferenceID/${appNumber.fileReferenceID}`}
                                class="text-blue-600 hover:underline"
                            >
                                {appNumber.fileReferenceID}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
