---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
import { getDocIds } from "~/lib/getDocPaths";
import { getIPDocument } from "~/lib/getIPDocument";

const refNumbers = new Set<string>();
const docIdList = await getDocIds();
for (const p of docIdList) {
    const ipDocument = await getIPDocument(p.params.docId);
    refNumbers.add(ipDocument.fileReferenceId);
}

const sortedRefNumbers = Array.from(refNumbers).sort((a, b) => {
    return a.localeCompare(b);
});
---

<Layout title="整理番号の一覧">
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                    { title: "整理番号の一覧", href: "/docs/fileReferenceId" },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                {
                    sortedRefNumbers.map((refNumber) => (
                        <li>
                            <a
                                href={`/docs/fileReferenceId/${refNumber}`}
                                class="text-blue-600 hover:underline"
                            >
                                {refNumber}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
