---
const { fileReferenceId } = Astro.props as {
    fileReferenceId?: string;
};
---

{
    fileReferenceId && (
        <div class="bg-violet-200 rounded-md shadow-md px-2">
            {fileReferenceId}
        </div>
    )
}
