---
import Layout from "~/layouts/Layout.astro";
import { getContentInfo, getDocIdPaths } from "~/lib/getDocPaths.js";

const applicants = new Set<string>();
const docIdList = await getDocIdPaths();
for (const p of docIdList) {
    const contentInfo = await getContentInfo(p.params.docId);
    contentInfo.bibData.applicants.forEach((applicant) => {
        applicants.add(applicant);
    });
}
const sortedApplicants = Array.from(applicants).sort();
---

<Layout title="出願人の一覧">
    <main>
        <h1 class="text-2xl font-bold mb-4">出願人の一覧</h1>
        <section>
            <ul class="list-disc list-inside">
                {
                    sortedApplicants.map((applicant) => (
                        <li>
                            <a
                                href={`/docs/applicants/${applicant}`}
                                class="text-blue-600 hover:underline"
                            >
                                {applicant}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
