---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { ApplicantIndexEntry } from "~/interfaces/index/applicant-index";
import Layout from "~/layouts/Layout.astro";
import _applicantIndex from "../../../../public/content/_indexes/applicant-index.json";

const applicantIndex: Record<string, ApplicantIndexEntry> = _applicantIndex;
const sortedApplicants = Object.keys(applicantIndex).sort((a, b) =>
    applicantIndex[a].name.localeCompare(applicantIndex[b].name),
);
---

<Layout title="出願人の一覧">
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "出願人の一覧", href: "/docs/applicants" },
            ]}
        />

        <section>
            <h1 class="text-xl font-bold">出願人の一覧</h1>
            {
                sortedApplicants.map((applicant) => (
                    <div class="mt-6">
                        <h2 class="text-gray-600 mb-2">
                            {applicantIndex[applicant].idNumber ??
                                applicantIndex[applicant].address ??
                                "no adderss or identification number"}
                        </h2>
                        <div class="pl-4 flex flex-col gap-2">
                            <a
                                href={`/docs/applicants/${applicant}`}
                                class="text-blue-600 hover:underline"
                            >
                                {applicantIndex[applicant].name}
                            </a>
                        </div>
                    </div>
                ))
            }
        </section>
    </main>
</Layout>
