---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
import { getContentInfo, getDocIds } from "~/lib/getDocPaths.js";

const applicants = new Set<string>();
const docIdList = await getDocIds();
for (const p of docIdList) {
    const contentInfo = await getContentInfo(p.params.docId);
    contentInfo.document.textBlocksRoot
        .filter((block: any) => block.tag === "applicationForm")
        .flatMap((appForm: any) => appForm.blocks)
        .filter((block: any) => block.tag === "applicants")
        .flatMap((applicantsBlock: any) => applicantsBlock.blocks)
        .filter((block: any) => block.tag === "applicant")
        .flatMap((applicantBlock: any) => applicantBlock.blocks)
        .filter((block: any) => block.tag === "name")
        .map((nameBlock: any) => nameBlock.text)
        .forEach((applicantName: string) => {
            applicants.add(applicantName);
        });
}
const sortedApplicants = Array.from(applicants).sort();
---

<Layout title="出願人の一覧">
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                    { title: "出願人の一覧", href: "/docs/applicants" },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                {
                    sortedApplicants.map((applicant) => (
                        <li>
                            <a
                                href={`/docs/applicants/${applicant}`}
                                class="text-blue-600 hover:underline"
                            >
                                {applicant}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
