---
import type { AbstractDocBlock } from "~/interfaces/text-blocks-root";

// 特許出願書類の要約書を表示するためのコンポーネント
const { abstract } = Astro.props as {
    abstract: AbstractDocBlock;
};
const text = abstract.text.replace(/\n/g, "<br/>");
---

<div class="abstract">
    <div class="jpTag">{abstract.jpTag}</div>
    <div class="text"><Fragment set:html={text} /></div>
</div>

<style>
    .abstract {
        break-before: page;
    }
</style>
