---
// 特許出願書類の明細書を表示するためのコンポーネント

import BlockRenderer from "~/components/document/pat-app-doc/BlockRenderer.astro";
import {
    type DocumentBlock,
    documentTypeGuards,
} from "~/interfaces/document-block";

const { description } = Astro.props as {
    description: DocumentBlock;
};
---

{
    documentTypeGuards.isDescription(description) && (
        <div class="description">
            <div class="jpTag">{description.jpTag}</div>
            {description.blocks.map((block) => (
                <BlockRenderer block={block} />
            ))}
        </div>
    )
}
<style>
    .description {
        break-before: page;
    }
</style>
