---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="HOME">
    <main>
        <nav class="header-nav">
            <BreadCrumbs crumbs={[{ title: "HOME", href: "/" }]} />
        </nav>
        <section>
            <ul class="list-disc list-inside">
                <li>
                    <a href="/docs" class="text-blue-600 hover:underline"
                        >特許出願関連文書</a
                    >
                </li>
            </ul>
        </section>
    </main>
</Layout>
