---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="HOME">
    <main>
        <nav class="header-nav">
            <BreadCrumbs crumbs={[{ title: "HOME", href: "/" }]} />
        </nav>
        <section>
            <ul class="list-disc list-inside">
                <li>
                    <a href="/docs" class="text-blue-600 hover:underline"
                        >特許出願関連文書</a
                    >
                </li>
            </ul>
        </section>
    </main>
</Layout>
