---
import Inline from "~/components/block-renderer/common/Inline.astro";
import type { ClaimTextBlock } from "~/interfaces/document-block";
import { concatBlocks } from "~/lib/blocks";

const { claimText } = Astro.props as {
    claimText: ClaimTextBlock;
};
---

<div class="claimText">
    {
        concatBlocks(claimText.blocks).map((group) => (
            <div>
                {group.map((g) => (
                    <Inline block={g} />
                ))}
            </div>
        ))
    }
</div>
