---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import type { InventorIndexEntry } from "~/interfaces/index/inventor-index";
import Layout from "~/layouts/Layout.astro";
import _inventorIndex from "../../../../public/content/_indexes/inventor-index.json";

const inventorIndex: Record<string, InventorIndexEntry> = _inventorIndex;

const groupedInventors = Object.groupBy(
    Object.keys(inventorIndex).map((inv) => ({
        slug: inv,
        name: inventorIndex[inv].name,
        address: inventorIndex[inv].address,
    })),
    (item) => (item.address === "" ? "unknown address" : item.address),
);
const sortedKeys = Object.keys(groupedInventors).sort((a, b) =>
    a.localeCompare(b),
);
---

<Layout title="発明者の一覧">
    <main class="p-4">
        <BreadCrumbs
            crumbs={[
                { title: "HOME", href: "/" },
                { title: "出願書類", href: "/docs" },
                { title: "発明者の一覧", href: "/docs/inventors" },
            ]}
        />

        <section>
            <h1 class="text-xl font-bold">発明者の一覧</h1>
            {
                sortedKeys.map((address) => (
                    <div class="mt-6">
                        <h2 class="text-gray-600 mb-2">
                            {address === "unknown address"
                                ? "住所不明"
                                : address}
                        </h2>
                        <div class="pl-4 flex flex-col gap-2">
                            {groupedInventors[address]?.map((inventor) => (
                                <a
                                    href={`/docs/inventors/${inventor.slug}`}
                                    class="text-blue-600 hover:underline"
                                >
                                    {inventor.name}
                                </a>
                            ))}
                        </div>
                    </div>
                ))
            }
        </section>
    </main>
</Layout>
