---
import ApplicationBody from "~/components/document/ApplicationBody.astro";
import { getDocument } from "~/constants";
import { isApplicationBody } from "~/interfaces/generated/application-body.guard";
import PrintingLayout from "~/layouts/PrintingLayout.astro";
export { getStaticPaths } from "~/lib/getStaticPaths";

const { docId } = Astro.params as { docId: string };
const json = await getDocument(docId);
const title = "doc";
---

<PrintingLayout title={title}>
    <main class="w-full my-2">
        {
            json.map((doc) => {
                if (isApplicationBody(doc)) {
                    return <ApplicationBody document={doc} />;
                }
            })
        }
    </main>
</PrintingLayout>
