---
// 特許出願書類の要約書を表示するためのコンポーネント
import type { AbstractBlock } from "~/interfaces/application";

const { jpTag, text } = Astro.props as AbstractBlock;
const htmlText = text.replace(/\n/g, "<br />");
---

<div class="abstract">
    <div class="jpTag">{jpTag}</div>
    <div class="text"><Fragment set:html={htmlText} /></div>
</div>
