---
import type { ClaimTextBlock } from "~/interfaces/text-blocks-root";
import { concatBlocks } from "~/lib/blocks";
import Inline from "./Inline.astro";

const { claimText } = Astro.props as {
    claimText: ClaimTextBlock;
};
---

<div class="claimText">
    {
        concatBlocks(claimText.blocks).map((group) => (
            <div>
                {group.map((g) => (
                    <Inline block={g} />
                ))}
            </div>
        ))
    }
</div>
