---
import type { ClaimBlock } from "~/interfaces/text-blocks-root";
import ClaimText from "./ClaimText.astro";

const { claim } = Astro.props as {
    claim: ClaimBlock;
};
---

<div class="claim">
    <div class="jpTag">{claim.jpTag}</div>
    {claim.blocks.map((block) => <ClaimText claimText={block} />)}
</div>
