---
// 特許出願書類の図を表示するためのコンポーネント

import type {
    ChemistryBlock,
    FigureBlock,
    ImageBlock,
    MathsBlock,
    TablesBlock,
} from "~/interfaces/text-blocks-root";
interface Props {
    sizeTag?: "thumbnail" | "middle" | "large";
    block: FigureBlock | TablesBlock | MathsBlock | ChemistryBlock | ImageBlock;
}
const { block, sizeTag = "middle" } = Astro.props as Props;
const cls =
    block.tag === "figure"
        ? "figure"
        : block.tag === "tables"
          ? "tables"
          : block.tag === "maths"
            ? "maths"
            : block.tag === "chemistry"
              ? "chemistry"
              : "image";
---

<div class={cls}>
    <div class={`jpTag indentLevel-${block.indentLevel}`}>{block.jpTag}</div>
    {
        block.images
            .filter((image) => image.sizeTag === sizeTag)
            .map((image) => (
                <img
                    src={image.src}
                    alt={"alt" in block ? (block.alt ?? "") : ""}
                />
            ))
    }
</div>
