---
// 外国語書面出願の各書類を表示するためのコンポーネント
import type {
    ForeignAbstractBlock,
    ForeignClaimsBlock,
    ForeignDescriptionBlock,
    ForeignDrawingsBlock,
} from "~/interfaces/text-blocks-root";
import { checker } from "~/interfaces/text-blocks-root";

interface Props {
    sizeTag?: "thumbnail" | "middle" | "large";
    block:
        | ForeignDescriptionBlock
        | ForeignClaimsBlock
        | ForeignAbstractBlock
        | ForeignDrawingsBlock;
}
const { block, sizeTag = "middle" } = Astro.props as Props;
const images = block.blocks
    .filter((b) => checker.isImage(b))
    .flatMap((b) => b.images)
    .filter((img) => img.sizeTag === sizeTag);
---

<div class={block.tag}>
    <div class={`jpTag indentLevel-${block.indentLevel}`}>
        {
            images.map((image) => (
                <div>
                    <img src={image.src} />
                </div>
            ))
        }
    </div>
</div>
