---
// 外国語書面出願の各書類を表示するためのコンポーネント
import type {
    ForeignAbstractBlock,
    ForeignClaimsBlock,
    ForeignDescriptionBlock,
    ForeignDrawingsBlock,
} from "~/interfaces/text-blocks-root";
import { checker } from "~/interfaces/text-blocks-root";
import { concatBlocks } from "~/lib/blocks";
import { getBaseUrlPath } from "~/lib/path";
import Inline from "./Inline.astro";

interface Props {
    sizeTag?: "thumbnail" | "middle" | "large";
    block:
        | ForeignDescriptionBlock
        | ForeignClaimsBlock
        | ForeignAbstractBlock
        | ForeignDrawingsBlock;
}
const { block, sizeTag = "middle" } = Astro.props as Props;
const images = block.blocks
    .filter((b) => checker.isImage(b))
    .flatMap((b) => b.images)
    .filter((img) => img.sizeTag === sizeTag);
const baseUrlPath = Astro.params.docId
    ? getBaseUrlPath(Astro.params.docId)
    : "";
---

<div class="wrap-anywhere">
    <div class={`jpTag indentLevel-${block.indentLevel}`}>
        {
            images.map((image) => (
                <div>
                    <img src={baseUrlPath + "/" + image.src} />
                </div>
            ))
        }
        {
            block.blocks &&
                concatBlocks(block.blocks).map((group) => (
                    <div>
                        {group.map((b) => (
                            <Inline block={b} />
                        ))}
                    </div>
                ))
        }
    </div>
</div>
