---
import BreadCrumbs from "~/components/ui/BreadCrumbs.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="出願書類">
    <main>
        <nav class="header-nav">
            <BreadCrumbs
                crumbs={[
                    { title: "HOME", href: "/" },
                    { title: "出願書類", href: "/docs" },
                ]}
            />
        </nav>

        <section>
            <ul class="list-disc list-inside">
                <li>
                    <a
                        href="/docs/applicants"
                        class="text-blue-600 hover:underline">出願人の一覧</a
                    >
                </li>
                <li>
                    <a
                        href="/docs/inventors"
                        class="text-blue-600 hover:underline">発明者の一覧</a
                    >
                </li>
                <li>
                    <a
                        href="/docs/applicationNumbers"
                        class="text-blue-600 hover:underline">出願番号の一覧</a
                    >
                </li>
                <li>
                    <a
                        href="/docs/fileReferenceID"
                        class="text-blue-600 hover:underline">整理番号の一覧</a
                    >
                </li>
            </ul>
        </section>
    </main>
</Layout>
