---
/* This renderer for notice-pat-exam, notice-pat-exam-rn handles following document types:
    A2242623 実用新案技術評価の通知
*/

import Card from "~/components/ui/Card.astro";
import type { CpyNtcPtF } from "~/interfaces/generated/cpy-ntc-pt-f";
import CpyNtcPtFItems from "./items/CpyNtcPtFItems.astro";

const { document, forPrinting = false } = Astro.props as {
    document: CpyNtcPtF;
    forPrinting?: boolean;
};
---

{
    forPrinting === false && (
        <Card title={document.text}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <CpyNtcPtFItems block={b} />),
            )}
        </Card>
    )
}

{
    forPrinting === true && (
        <div class={document.tag}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <CpyNtcPtFItems block={b} />),
            )}
        </div>
    )
}
