---
/* This renderer for pat-app-doc handles following document types:
     A163,A263    特許願,実用新案登録願
     A1631   翻訳文提出書
     A1632   国内書面
     A2633   図面の提出書（実案）
     A1634   国際出願翻訳文提出書
     A1635   国際出願翻訳文提出書（職権）
*/

import Card from "~/components/ui/Card.astro";
import type { PatAppDoc } from "~/interfaces/generated/pat-appd";
import PatCommon from "./items/PatCommon.astro";

const { document, forPrinting = false } = Astro.props as {
    document: PatAppDoc;
    forPrinting: boolean;
};
---

{
    forPrinting === false && (
        <Card title={document.text}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </Card>
    )
}

{
    forPrinting === true && (
        <div class={document.tag}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </div>
    )
}
