---
/* This renderer for pat-rspn handles following document types:
    A1781  上申書
    A1871  早期審査に関する事情説明書
    A1872  早期審査に関する事情説明補充書
*/

import Card from "~/components/ui/Card.astro";
import type { ApplicationBody } from "~/interfaces/generated/application-body";
import {
    isAbstract,
    isClaims,
    isDescription,
    isDrawings,
} from "~/interfaces/generated/application-body.guard";
const { document } = Astro.props as {
    document: ApplicationBody;
};
---

{
    document.blocks.map((block) => {
        if (isDescription(block)) {
            return (
                <Card title="明細書">
                    <pre>{JSON.stringify(block, null, 2)}</pre>
                </Card>
            );
        } else if (isClaims(block)) {
            return (
                <Card title="請求の範囲">
                    <pre>{JSON.stringify(block, null, 2)}</pre>
                </Card>
            );
        } else if (isAbstract(block)) {
            return (
                <Card title="要約書">
                    <pre>{JSON.stringify(block, null, 2)}</pre>
                </Card>
            );
        } else if (isDrawings(block)) {
            return (
                <Card title="図面">
                    <pre>{JSON.stringify(block, null, 2)}</pre>
                </Card>
            );
        } else {
            return <div>unknown blocks</div>;
        }
    })
}
