---
/* This renderer for pat-rspn handles following document types:
    A1781  上申書
    A1871  早期審査に関する事情説明書
    A1872  早期審査に関する事情説明補充書
*/

import Card from "~/components/ui/Card.astro";
import type { PatEtc } from "~/interfaces/generated/pat-etc";
import PatCommon from "./items/PatCommon.astro";

const { document, forPrinting = false } = Astro.props as {
    document: PatEtc;
    forPrinting?: boolean;
};
---

{
    forPrinting === false && (
        <Card title={document.text}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </Card>
    )
}

{
    forPrinting === true && (
        <div class={document.tag}>
            {document.blocks.map((b) =>
                b.blocks.map((b) => <PatCommon block={b} />),
            )}
        </div>
    )
}
